/* Reset default browser styles */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, "https://fonts.googleapis.com/css?family=Montserrat:100";
    line-height: 1.6;
    background-image: url("images/tumblr_n767qc1ZEe1s4fz4bo1_500-175192737.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

header, h1, h2, h3, p {
    text-shadow:4px 3px 7px #333;
    color: #fff;
}

header, div {
    background-color: #333;
    color: #fff;
}

header {
    padding: 20px 0;
}

nav ul {
    list-style: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 30px;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 2em;
    margin-bottom: 15px;
}

h3 {
    font-size: 1.5em;
}

.project {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 15px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

a {
    text-decoration: none;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}